<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Guess the secret number{% endblock title %}</title>

        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <h1>Guess the secret number</h1>
        <h3>You have to guess a secret number between 1 and 30.
            <br>
            Good luck !!!
        </h3>
        <p>
            <a href="/">Game</a> | <a href="/profile">Profile</a>
        </p>
        <img src="/static/img/numbers.jpg" height="150" width="250">

        {% block content %}
        {% endblock content %}


    </body>
</html>