{% extends "base.html" %}

{% block content %}
{% if user and user.secret_number %}
    <form method="post" action="/result">
        <label>Entry : </label>
        <input type="text" size=15 name="guess" placeholder="Enter your guess (a number between 1 and 30)">
        <br>
        <br>
        <button type="submit">Guess</button>
    </form>
<br>

{% else %}
    <form method="post" action="/login">
        <input type="text" size=15 name="user-name" placeholder="Enter your name ">
        <br>
        <input type="email" size=15 name="user-email" placeholder="Enter your e-mail address">
        <br>
        <input type="password" size=15 name="user-password" placeholder="Enter your password">
        <br>
        <br>
        <button type="submit">Submit data</button>
    </form>
{% endif %}
{% endblock content %}